<section class="advantages">
    <h2 class="visually-hidden">Advantages of Yacht Rental</h2>
    <div class="advantages-wrapper container">
        <div class="advantages-text-container">
            <ol class="advantages-list">
                <li class="advantages-item">
                    <span class="number">01</span>
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item">
                    <span class="number">02</span>
                    <p class="advantages-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-item">
                    <span class="number">03</span>
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantages-item">
                    <span class="number">04</span>
                    <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere</p>
                </li>
            </ol>
        </div>
        <div class="advantages-image-container">
            <picture>
                 <source srcset="/img/advantages/ydmob1.webp 1x, /img/advantages/ydmob2.webp 2x" media="(max-width: 767px)">
                 <source srcset="/img/advantages/ydtab1.webp 1x, /img/advantages/ydtab2.webp 2x" media="(min-width: 768px)">
                 <source srcset="/img/advantages/yacht-deck2.webp" media="(min-width: 1200px)"> 
             <img src="/img/advantages/yacht-deck.webp" alt="Luxury yacht deck" width="432" height="424">
            </picture>
        </div>
    </div>
</section>
