<!-- Replace me with your code. 🥺 -->
<!-- is-open -->
<div class="conteiner conteiner-mobile-menu">
    <div>
        <p class="mobile-paragraf">yachtjet</p>
        <button class="menu-close-batton" type="button">  <svg class="close-batton-svg" width="16" height="16">
            <!-- <use href="./images/icons.svg#icon-close"></use>  додати спрайт-->
          </svg></button>
              </div>
              <nav>
                <ul class="navigation-menu">
                  <li><a href="about.html" class="nav-button">ABOUT</a></li>
                  <li><a href="yachts.html" class="nav-button">YACHTS</a></li>
                  <li><a href="reviews.html" class="nav-button">REVIEWS</a></li>                  
                </ul>
              </nav>
              <div class="conteiner-icon-list">
                <ul class="icon-list">
                  <li class="icon-item">
                    <a href="" class="icon-link">
                      <svg class="icon" width="19" height="19">
                        <use href="./images/icons.svg#instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="icon-item">
                    <a href="" class="icon-link">
                      <svg class="icon" width="19" height="19">
                        <use href="./images/icons.svg#youtube"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="icon-item">
                    <a href="" class="icon-link">
                      <svg class="icon" width="19" height="19">
                        <use href="./images/icons.svg#facebook"></use>
                      </svg>
                    </a>
                  </li>
                 
                </ul>
              </div>
</div>