<div class="container-mobile-menu" data-modal>
    <div class="container-mobile-menu-header">
        <a class="mobile-paragraf" href="/">yachtjet</a>
        <button class="menu-close-button" type="button" data-modal-close>
            <svg class="close-button-svg" width="16" height="16">
                <use href="/img/sprite.svg#icon-close"></use>
            </svg></button>
    </div>
    <div class="container-nav">
        <nav class="nav-mobille-menu">
            <ul class="navigation-menu">
                <li>
                    <a class="nav-button-menu nav-button-menu-about" href="#about-us"
                        data-modal-close>ABOUT</a>
                </li>
                <li>
                    <a class="nav-button-menu" href="#our-yachts"
                        data-modal-close>YACHTS</a>
                </li>
                <li>
                    <a class="nav-button-menu" href="#reviews" data-modal-close>REVIEWS</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="container-icon-list">
        <ul class="icon-list">
            <li class="icon-item">
                <a href=" https://www.instagram.com/goitclub/ " class="icon-link">
                    <svg class="icon-social-media" width="19" height="19">
                        <use href="/img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://www.youtube.com/c/GoIT " class="icon-link">
                    <svg class="icon-social-media" width="20" height="20">
                        <use href="/img/sprite.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
            <li class="icon-item">
                <a href="https://www.facebook.com/goITclub/  " class="icon-link">
                    <svg class="icon-social-media" width="20" height="20">
                        <use href="/img/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>
