<section class="our-yachts" id="our-yachts">
  <div class="container our-yachts-container">
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y1.webp"
          srcset="/img/our-yachts/y1.webp 1x, /img/our-yachts/y1@2x.webp 2x"
          alt="Arrow"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>Arrow</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details">
          <div class="detail">
            <p>LENGTH</p>
            <span>48m(155ft)</span>
          </div>
          <div class="detail">
            <p>BUILDER</p>
            <span>Admiral</span>
          </div>
          <div class="detail">
            <p>BUILT</p>
            <span>2021</span>
          </div>
          <div class="detail">
            <p>GUESTS</p>
            <span>11 in 5 cabins</span>
          </div>
          <div class="detail">
            <p>PRICE</p>
            <span>€33,500,000</span>
          </div>
        </div>
      </li>
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y2.webp"
          srcset="/img/our-yachts/y2.webp 1x, /img/our-yachts/y2@2x.webp 2x"
          alt="BENETTI OASIS 40M BO122"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>BENETTI OASIS 40M BO122</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details">
          <div class="detail">
            <p>LENGTH</p>
            <span>41m (133ft)</span>
          </div>
          <div class="detail">
            <p>SHIPYARD</p>
            <span>Benetti</span>
          </div>
          <div class="detail">
            <p>BUILT</p>
            <span>2025</span>
          </div>
          <div class="detail">
            <p>GUESTS</p>
            <span>10 in 5 cabins</span>
          </div>
          <div class="detail">
            <p>PRICE</p>
            <span>€23,210,000</span>
          </div>
        </div>
      </li>
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y3.webp"
          srcset="/img/our-yachts/y3.webp 1x, /img/our-yachts/y3@2x.webp 2x"
          alt="BELLE ANNA"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>BELLE ANNA</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details">
          <div class="detail">
            <p>LENGTH</p>
            <span>50m(155ft) </span>
          </div>
          <div class="detail">
            <p>SHIPYARD</p>
            <span>ISA</span>
          </div>
          <div class="detail">
            <p>BUILT</p>
            <span>2012</span>
          </div>
          <div class="detail">
            <p>GUESTS</p>
            <span>12 in 6 cabins</span>
          </div>
          <div class="detail">
            <p>PRICE</p>
            <span>€21,000,000</span>
          </div>
        </div>
      </li>
    </ul>
    <a href="#rent" class="yacht-rental-button">Yacht rental</a>
  </div>
</section>
