<section class="our-yachts" id="our-yachts">
  <div class="container our-yachts-container">
    <h2>Choose your dream yacht and sail away into the sunset</h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y1.webp"
          srcset="/img/our-yachts/y1.webp 1x, /img/our-yachts/y1@2x.webp 2x"
          alt="Arrow"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>ARROW</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details-block">
          <ul class="yacht-details">
            <li class="detail">LENGTH</li>
            <li class="detail">BUILDER</li>
            <li class="detail">BUILT</li>
            <li class="detail">GUESTS</li>
            <li class="detail">PRICE</li>
          </ul>
          <ul class="yacht-details-param">
            <li class="detail-param">48m(155ft)</li>
            <li class="detail-param">Admiral</li>
            <li class="detail-param">2021</li>
            <li class="detail-param">11 in 5 cabins</li>
            <li class="detail-param">€33,500,000</li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y2.webp"
          srcset="/img/our-yachts/y2.webp 1x, /img/our-yachts/y2@2x.webp 2x"
          alt="BENETTI OASIS 40M BO122"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>BENETTI OASIS 40M BO122</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details-block">
          <ul class="yacht-details">
            <li class="detail">LENGTH</li>
            <li class="detail">SHIPYARD</li>
            <li class="detail">BUILT</li>
            <li class="detail">GUESTS</li>
            <li class="detail">PRICE</li>
          </ul>
          <ul class="yacht-details-param">
            <li class="detail-param">41m (133ft)</li>
            <li class="detail-param">Benetti</li>
            <li class="detail-param">2025</li>
            <li class="detail-param">10 in 5 cabins</li>
            <li class="detail-param">€23,210,000</li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <img
          src="/img/our-yachts/y3.webp"
          srcset="/img/our-yachts/y3.webp 1x, /img/our-yachts/y3@2x.webp 2x"
          alt="BELLE ANNA"
          class="our-yachts-image"
        />
        <div class="yacht-header">
          <p>BELLE ANNA</p>
          <span>LUXURY YAHTS</span>
        </div>
        <div class="yacht-details-block">
          <ul class="yacht-details">
            <li class="detail">LENGTH</li>
            <li class="detail">SHIPYARD</li>
            <li class="detail">BUILT</li>
            <li class="detail">GUESTS</li>
            <li class="detail">PRICE</li>
          </ul>
          <ul class="yacht-details-param">
            <li class="detail-param">50m(155ft)</li>
            <li class="detail-param">ISA</li>
            <li class="detail-param">2012</li>
            <li class="detail-param">12 in 6 cabins</li>
            <li class="detail-param">€21,000,000</li>
          </ul>
        </div>
      </li>
    </ul>
    <a href="#rent" class="yacht-rental-button">Yacht rental</a>
  </div>
</section>
